*,
*::before,
*::after {
  box-sizing: border-box;
}

body > main {
  background-color: black;
  color: greenyellow;
}

main{
    padding: 2rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  grid-auto-rows: auto;
  --deux-colonnes: 2;
  --trois-colonnes: 3;
  --quatre-colonnes: 4;
  --cinq-colonnes: 5;
  --six-colonnes: 6;
  --sept-colonnes: 7;
}

.grid-div {
  border: 3px solid darkgreen;
}

@media screen and (min-width: 576px) {
    .grid-wrapper{
        /* 
        on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
        */
        /*grid-template-columns: repeat( var(--deux-colonnes), calc(calc( 100% - 1rem ) / var(--deux-colonnes)) );*/
        grid-template-columns: 1fr 1fr;
    }

    #cell-1{
        /*grid-column: 1 / 3;*/
        grid-column: span 2;
    }

    #cell-2{
        grid-row: span 2;
    }

    #cell-11{
        grid-column: span 2;
    }
}

@media screen and (min-width: 768px) {
    .grid-wrapper{
        /* 
        on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
        */
        /*grid-template-columns: repeat( var(--trois-colonnes), calc(calc( 100% - 2rem ) / var(--trois-colonnes)) );*/
        grid-template-columns: 1fr 1fr 1fr;
    }

    #cell-1{
        /*grid-column: 1 / 4;*/
        grid-column: span 3;
    }
}

@media screen and (min-width: 992px) {
    .grid-wrapper{
        /* 
        on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
        */
        /*grid-template-columns: repeat( var(--quatre-colonnes), calc(calc( 100% - 3rem ) / var(--quatre-colonnes)) );*/
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #cell-2{
        grid-row: span 3;
    }

    #cell-4{
        grid-column: span 2;
        grid-row: span 2;
    }
    
    #cell-11{
        grid-column: span 3;
    }
}

@media screen and (min-width: 1200px) {
    .grid-wrapper{
        /* 
        on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
        */
        /*grid-template-columns: repeat( var(--cinq-colonnes), calc(calc( 100% - 4rem ) / var(--cinq-colonnes)) );*/
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    #cell-2{
        grid-row: span 1;
    }

    #cell-9{
        grid-column: span 2;
    }

    #cell-11{
        grid-column: span 4;
    }
}

@media screen and (min-width: 1400px) {
    .grid-wrapper{
        /* 
        on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
        */
        /*grid-template-columns: repeat( var(--six-colonnes), calc(calc( 100% - 5rem ) / var(--six-colonnes)) );*/
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #cell-3{
        grid-column: span 2;
    }

    #cell-10{
        grid-column: span 2;
    }

    #cell-11{
        grid-column: span 6;
    }
}

@media screen and (min-width: 1600px) {
    .grid-wrapper{
        /* 
        on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
        */
        /*grid-template-columns: repeat( var(--sept-colonnes), calc(calc( 100% - 6rem ) / var(--sept-colonnes)) );*/
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #cell-2{
        grid-column: span 2;
    }

    #cell-5{
        grid-column: span 2;
    }

    #cell-9{
        grid-column: span 3;
    }

    #cell-11{
        grid-column: span 7;
    }
}
