:root {
  --element-gutter-size: 0.5cm;
  --column-1-1: calc(100% - calc(2 * var(--element-gutter-size)));
  --column-1-2: calc(50% - calc(2 * var(--element-gutter-size)));
  /* --column-1-3 reçoit 33% de l'espace dispo moins deux fois la largeur des goutières */
  --column-1-3: calc(33% - calc(2 * var(--element-gutter-size)));
  --column-1-4: calc(25% - calc(2 * var(--element-gutter-size)));
  --column-2-3: calc(66% - calc(2 * var(--element-gutter-size)));
  --column-3-4: calc(75% - calc(2 * var(--element-gutter-size)));
}

@page {
  margin: 2cm;
}

.titre-section {
  width: 100%;
}

body > nav,
#carrousel,
body > footer,
article footer {
  display: none;
}

img {
  max-width: 80%;
}

p {
  orphans: 3;
  widows: 3;
}

body > main > section.liste-article .column-rwd {
  margin-top: var(--element-gutter-size);
  margin-bottom: var(--element-gutter-size);
  padding: 0.5cm;
  break-inside: avoid;
}

body > main > section.liste-article .column-rwd main {
  column-width: 17em;
  column-gap: 3em;
  column-count: 2;
  column-rule: thin solid black;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  grid-auto-rows: auto;
  /* 
  on répète le nombre de colonnes, la largeur de chaque colonne égale à (100% de l'espace - nbcolonne-1 gap (Xrem) ) divisé par le nombre de colonnes  
  */
  /*grid-template-columns: repeat( var(--sept-colonnes), calc(calc( 100% - 6rem ) / var(--sept-colonnes)) );*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-div {
  border: 3px solid darkgreen;
}

#cell-1 {
  /*grid-column: 1 / 4;*/
  grid-column: span 3;
}

#cell-2 {
  grid-row: span 1;
}

#cell-4 {
  grid-column: span 2;
}

#cell-8{
  grid-column: span 2;
}

#cell-9 {
  grid-column: span 2;
}

#cell-10{
  grid-column: span 2;
}

#cell-11 {
  grid-column: span 4;
}
